* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 18px;
}

.card {
  width: 100%;
  height: auto;
  border: 3px solid rgba(33, 80, 77, 1);
  background: white;
  border-radius: 5px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  font-family: "Kalam", cursive;

}

/*.card-header {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(33, 80, 77, 1);
  border-bottom: 3px solid rgba(33, 80, 77, 1);
  color: white;
  letter-spacing: 5px;
  margin-bottom: 3px;
}*/

.card-body {
  margin: 0 auto;
}

.inputs {
  text-align: center;
  width: 100%;

}

input {
  width: 80%;
  height: 40px;
}

button {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  font-size: inherit;
  /*border-radius: 50%;*/
}

button:hover {
  background-color: #eb4d4d;

}

ul {
  list-style-type: none;
}

li {
  width: 100%;
  color: rgba(33, 80, 77, 1);
  padding-left: 20%;
  transition: all 0.5s ease;
  position: relative;
}

li:hover {
  cursor: pointer;
  background-color: rgba(124, 167, 163, 0.2);
}

/*li::before {
  content: "\2022";
  font-size: 67px;
  position: absolute;
  color: #eb4d4d;
  top: -59%;
  left: 15%;
}
li.done::before {
  content: '';
}*/

.done {
  text-decoration: line-through;
  background-color: rgba(82, 171, 164, 0.6);
  opacity: 0.8;
}

.tasks {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tasks span {
  font-size: 70%;
  background-color: #eb4d4d;
  padding: 2px;
}

p {
  opacity: 0.6;
  margin-left: 15px;
  padding-top: 3px;
  padding-bottom: 10px;
  font-size: 60%;
}

.hide {
  display: none;
}


@media only screen and (min-width: 600px) {
  body {
    font-size: 28px;
  }
    .card {
        width: 70%;
    }

    input {
  width: 70%;
}
}
