* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  padding-top: 10px;
  /* margin-top: 1rem; */
  font-size: 1.7rem;
}

.card {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  border: 3px solid rgba(33, 80, 77, 1);
  /* border-radius: 5px; */
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: "Kalam", cursive;
  margin-top: 20px;
}

.card-header {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(33, 80, 77, 0.7);
  border-bottom: 3px solid rgba(33, 80, 77, 1);
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  margin: 0 auto;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inputs {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  width: 80%;
  height: 40px;
  border: 1px solid black;
  font-size: inherit;
  cursor: pointer;
}

.add {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: 1px solid black;
  background: orange;
}

.add:hover {
  background: rgb(255, 140, 0);
}

.reset {
  height: 40px;
  width: 70px;
  font-size: 20px;
  background-color: white;
  font-family: "Kalam", cursive;
}

button {
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  width: 100%;
  color: rgba(33, 80, 77, 1);
  padding-left: 20%;
  transition: all 0.5s ease;
  position: relative;
}

li:hover {
  cursor: pointer;
  background-color: rgba(124, 167, 163, 0.2);
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
  background-color: rgba(82, 171, 164, 0.6);
  opacity: 0.8;
  list-style-type: none;
}

.tasks {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.tasks span {
  font-size: 70%;
  background-color: orange;
}

p {
  opacity: 0.6;
  margin-left: 3rem;
  font-size: 70%;
}

.date {
  text-transform: uppercase;
  padding: 0;
}

.hide {
  display: none;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 28px;
  }
  .card {
    width: 70%;
  }
  .inputs {
    width: 70%;
  }
}
